*{
   background-color: var(--gray-800);
   color: var(--gray-100);
}

.container_cards{
   width: 100%;
   /* background-color: red; */
   margin-top: 20px;
   padding: 0 20px;
}

.cards{
   margin-top: 20px;
   display: flex;
   gap: 20px;
}

.titulo{
   color: var(--gray-100);
}