*{
   background-color: var(--gray-800);
   color: var(--gray-100);
}

.container_cards{
   width: 100%;
   margin-top: 20px;
   padding: 0 20px;
   /* background-color: red; */
}

.cards{
   margin: 20px auto;
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
   justify-content: center;
   /* background-color: blue; */
}

.titulo{
   color: var(--gray-100);
}